@charset "UTF-8";
/* CSS Document */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
header {
	text-align: center;
	background-color: #129B4D;
	color: #FFF;
}
body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 16px;
	margin: 0;
}
h1,
header p {
	margin: 0;
}
h1 {
	padding-top: 10px;
	font-size: 52px;
}
h2 {
	font-size: 22px;
}
header p {
	font-size: 10px;
	padding-bottom: 10px;
}
.flashcards {
	margin: auto;
	width: 70%;
	text-align: center;
}
.flashcards div {
	border: 5px solid #F6EC2B;
	margin-top: 10px;
	float: left;
	height: 300px;
	width: 50%;
}
img {
	height: 200px;
	width: auto;
}
a {
	text-decoration: none;
}
a:link,
a:visited {
	color: #000;
}